{% extends "Layout/Layout.html" %}


{% block title %}
<h3 class="tital">AutoDrive | Explore Cars</h3>
{% endblock title %}



{% block content1 %}


<div class="filter-bar">
    <form method="get">
        <div class="filter-group">
            <select name="selectC">
                <option value="">All Categories</option>
                {% for CarC in All_Cars %}
                <option value= {{ CarC.category }} {% if CarC.category == selected_brand_id %}selected{% endif %} id="">{{ CarC.category }}</option>
                
                {% endfor %}
            </select>
            <button type= "submit" class="btn-search">Search Inventory</button>
        </div>
        
    </form>
</div>

{%endblock content1%}



{% block content2 %}

<div class="explore-grid">
    {% for CarC in All_Cars %}
    <div class="car-card">
        <div class="card-image">
            <img src="{{ CarC.image.url }}" alt="{{ CarC.model }}">
        </div>

        <div class="card-content">
            <span class="badge">{{ CarC.category }}</span>
            <h3 class="car-title">{{ CarC.make }} {{ CarC.model }}</h3>
            <p class="price">${{ CarC.price }}</p>
            <a href="{% url 'Car_Detail_View' CarC.id %}" class="btn">View Details</a>
        </div>
    </div>
        {% empty %}
           <p class="no-data">No cars found in this section.</p>
    {% endfor %}
</div>

{%endblock content2%}

