{% extends "Layout/Layout.html" %}


{% block title %}
<h3 class="tital">AutoDrive | Contact-Us</h3>
{% endblock title %}

{% block content1 %}
<section id="contact" class="contact-section">
    <h2>Contact-Us</h2>
    <form class="contact-form">
        <input type="text" placeholder="Your Name" required>
        <input type="email" placeholder="Your Email" required>
        <textarea placeholder="Message" rows="5"></textarea>
        <button type="submit">Send Message</button>
    </form>
</section>

{%endblock content1%}



{% block content2 %}

{%endblock content2%}